body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sky {
  background: url('../images/sky.jpg') repeat-x;
  position: absolute;
  width: 2000px;
  height: 100%;
  animation: clouds 4s linear infinite;
}

.racing-flag {
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 10;
}

.result, .rsg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
}

.timer {
  font-size: 50px;
  position: fixed;
  z-index: 5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.hide {
  display: none;
}

.crossing-line {
  position: absolute;
  right: 140px;
  top: -2px;
  z-index: 10;
  height: 100vh;
  width: 1px;
  border: 2px dotted #000;
}

.bird {
  background: url('../images/birds.png') no-repeat;
  position: absolute;
  width: 144px;
  height: 72px;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  animation: bird 300ms steps(4) infinite alternate;
  z-index: 99;
  transition: top 500ms, left 500ms;
}

@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2000px 0;
  }
}

@keyframes bird {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -288px;
  }
}
